<ion-header>
  <ion-toolbar>
    <ion-title>Tu Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form heigh="100%" [formGroup]="feedback" (ngSubmit)="submitFeedback()">
    <ion-item>
      <ion-label for="feedbackType">Déjanos saber tus comentarios</ion-label>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-segment
              (ionChange)="selectFeedbackType(($event.detail.value || '').toString())"
            >
              <ion-segment-button value="quejas">
                <ion-label>Quejas</ion-label>
              </ion-segment-button>
              <ion-segment-button value="sugerencias">
                <ion-label>Sugerencias</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label for="subject">Relacionado con:</ion-label>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-item>
            <ion-select
              class="my-select"
              id="subject"
              formControlName="subject"
              placeholder="Elige el área que afecta"
            >
              <ion-select-option value="mantenimiento"
                >Mantenimiento</ion-select-option
              >
              <ion-select-option value="admin">Adminitración</ion-select-option>
              <ion-select-option value="seguridad">Seguridad</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label for="desc">Déjanos tu comentario:</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea
        class="my-textarea"
        id="desc"
        formControlName="desc"
        rows="6"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-button
        type="submit"
        color="primary"
        class="ion-justify-content-center"
        >Aceptar</ion-button
      >
    </ion-item>
  </form>
</ion-content>
