<ion-content>
  <form [formGroup]="feedback" (ngSubmit)="submitFeedback()">
    <ion-item>
      <ion-label for="feedbackType">Tipo de Feedback</ion-label>
      <ion-select id="feedbackType" formControlName="feedbackType">
        <ion-select-option value="Quejas">Quejas</ion-select-option>
        <ion-select-option value="Sugerencias">Sugerencias</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label for="subject">Relacionado con:</ion-label>
      <ion-select id="subject" formControlName="subject">
        <ion-select-option value="mantenimiento"
          >Mantenimiento</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label for="comentario">Déjanos tu comentario:</ion-label>
      <ion-textarea
        id="comentario"
        formControlName="comentario"
        rows="6"
      ></ion-textarea>
    </ion-item>

    <ion-button type="submit" color="primary">Aceptar</ion-button>
  </form>
</ion-content>
