<ion-header>
  <ion-toolbar>
    <ion-title>Realiza tu reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Selecciona el área que deseas reservar</ion-label>
    </ion-item>
    <ion-item>
      <div class="button-container">
        <ion-button
          shape="round"
          (click)="selectArea('futbol')"
          [color]="bookingForm.get('area')?.value === 'futbol' ? 'primary' : ''"
          >Cancha de Fútbol</ion-button
        >
        <ion-button
          shape="round"
          (click)="selectArea('basket')"
          [color]="bookingForm.get('area')?.value === 'basket' ? 'primary' : ''"
          >Cancha de Basket</ion-button
        >
        <ion-button
          shape="round"
          (click)="selectArea('casa')"
          [color]="bookingForm.get('area')?.value === 'casa' ? 'primary' : ''"
          >Casa Comunal</ion-button
        >
      </div>
    </ion-item>
    <ion-item>
      <ion-label>¿Cuándo deseas reservar tu espacio?</ion-label>
      <ion-datetime presentation="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Desde</ion-label>
      <ion-buttons slot="start">
        <ion-datetime
          presentation="time"
          formControlName="startTime"
        ></ion-datetime>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>Hasta</ion-label>
      <ion-buttons slot="end">
        <ion-datetime
          formControlName="startTime"
          presentation="time"
        ></ion-datetime>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea
        formControlName="desc"
        aria-placeholder="Indica cualquier detalle necesario para tu reserva"
      ></ion-textarea>
    </ion-item>

    <ion-button type="submit" [disabled]="bookingForm.invalid"
      >ACEPTAR</ion-button
    >
  </form>
</ion-content>
