<ion-content>
  <div class="upper">
    <div class="icon">
      <ion-icon name="person"></ion-icon>
    </div>
    <p id="login">CONDOCONNECT</p>
  </div>
  <div class="middle">
    <div class="box">
      <form #loginForm="ngForm">
        <p>Ingrese a su cuenta</p>
        <ion-item>
          <ion-label position="stacked">Ingresa tu usuario</ion-label>
          <ion-input
            type="email"
            placeholder="Email"
            name="email"
            #email="ngModel"
            [(ngModel)]="login.email"
            required
            email
          ></ion-input>
          <ion-icon
            class="ion-align-self-center"
            slot="end"
            name="mail"
          ></ion-icon>
        </ion-item>
        <div *ngIf="email.invalid && email.touched">
          <ion-text color="danger">
            <h4 style="padding-left: 20px; margin-top: 10px">
              Correo electrónico inválido
            </h4>
          </ion-text>
        </div>

        <ion-item>
          <ion-label position="stacked">Ingresa tu Contraseña</ion-label>
          <ion-input
            [type]="type ? 'password' : 'text'"
            placeholder="Contraseña"
            name="password"
            #password="ngModel"
            [(ngModel)]="login.password"
            required
            password
          ></ion-input>
          <ion-icon
            class="ion-align-self-center"
            slot="end"
            name="eye-outline"
            (click)="changeType()"
          ></ion-icon>
        </ion-item>
        <div *ngIf="password.invalid && password.touched">
          <ion-text color="danger">
            <h4 style="padding-left: 20px; margin-top: 10px">
              Ingresa nuevamente tu contraseña
            </h4>
          </ion-text>
        </div>
        <p id="forgetPassword" (click)="goToForget()">
          ¿Olvidaste tu contraseña?
        </p>
        <div class="btn">
          <ion-button (click)="goToHome()" [disabled]="loginForm.invalid"
            >Iniciar</ion-button
          >
        </div>
        <div class="btn2">
          <ion-button (click)="goToSignUp()">Regístrate</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
