<ion-content>
  <div class="upper">
    <p id="signup">Qué deseas hacer?</p>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-card (click)="goToBookings()">
            <ion-card-header
              style="display: flex; justify-content: space-between"
            >
              <ion-icon name="home" size="large"></ion-icon>
              <ion-card-title>Reserva de espacios comunes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Realiza tu reserva de chanchas o casa comunal
            </ion-card-content>
          </ion-card>
          <ion-card (click)="goToVisitors()">
            <ion-card-header
              style="display: flex; justify-content: space-between"
            >
              <ion-icon name="people-circle-outline" size="large"></ion-icon>
              <ion-card-title>Espero visitas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Informa a seguridad si esperas visitas o entregas a domicilio
            </ion-card-content>
          </ion-card>
          <ion-card (click)="goToFeedback()">
            <ion-card-header
              style="display: flex; justify-content: space-between"
            >
              <ion-icon name="ribbon" size="large"></ion-icon>
              <ion-card-title>Sugerencias y Recomendaciones</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Informa a la administración si es necesario realizar algún cambio
              o mejora
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
