<ion-header>
  <ion-toolbar>
    <ion-title>Programa tu visita </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>¿A quién esperas?</ion-label>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              shape="round"
              (click)="selectVisitor('people')"
              [color]="visitorForm.get('visitor')?.value === 'people' ? 'primary' : ''"
              >Conocidos y/o Famillia</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              shape="round"
              (click)="selectVisitor('delivery')"
              [color]="visitorForm.get('visitor')?.value === 'delivery' ? 'primary' : ''"
              >Entrega a domicilio</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>Fecha y hora</ion-label>
      <ion-datetime locale="es-ES">
        <span slot="time-label">Hora de llegada</span>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>¿Sus visitas requieren de parqueadero?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Desde</ion-label>
      <ion-buttons slot="start">
        <ion-datetime
          presentation="time"
          formControlName="startTime"
        ></ion-datetime>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>Hasta</ion-label>
      <ion-buttons slot="end">
        <ion-datetime
          formControlName="startTime"
          presentation="time"
        ></ion-datetime>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea
        formControlName="desc"
        aria-placeholder="Menciona el nombre de la persona que espera o el nombre del restaurante o tienda a la que se espera la entrega."
      ></ion-textarea>
    </ion-item>

    <ion-button type="submit" [disabled]="visitorForm.invalid"
      >ACEPTAR</ion-button
    >
  </form>
</ion-content>
